.item img{
	border-top-right-radius: 16px;
	border-top-left-radius: 16px;
	z-index: 3
}

.itemButton:hover {
	transform: scale(1.05);
	transition: 0.5s ease-in-out;
	cursor: pointer;
}

.itemButton {
	transform: scale(1);
	transition: 0.5s ease-out;
}

.itemButton {
	border: none;
	background-color: transparent;
	outline: none;
}

/* cause of fixing event target to use state of element */
.itemButton > * {
	cursor: pointer;
  pointer-events: none;
}

#myModal {
	position: fixed;
	overflow: auto;
	height: 100%;
	padding-top: 100px;
	top:0;
	left: 0;
	z-index: 1;	
	background-color: rgba(0,0,0,0.4)
}

.modal-content {
	height: auto;
	width: 80%;
	margin: auto;
	padding: 20px;
	position: relative;
	border: 1px solid grey;
	border-radius: 15px;
	background-color: white;
  	-webkit-animation-name: animatetop;
  	-webkit-animation-duration: 0.4s;
  	animation-name: animatetop;
 	animation-duration: 0.5s;
 	animation-timing-function: ease-out;
}


.close {
  color: #aaa;
  float: right;
  padding: 5px;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:800px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:800px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 800px) {
	/* start of phone styles */
	.item:hover {
		transform: none;
	}
	.item {
		transform: none;
	}
	#myModal {
		padding-top: 50%;
		height: 120%;
	}
	.modal-content {
		height: auto;
		width: 90%;
		float: left
	}
}



