
.img-container h1,
.img-container h2,
.img-container p {
    color: #fff;
    z-index:1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
}

.img-container {
    position: relative;
    background-image: url('./bgImage.jpg');    
    background-color: grey;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 3% 0 20% 0;
    background-color: grey;
    max-height: 800px;
}


.img-container h1 {
    font-size: 80px;
    font-weight: bold;
}

@media screen and (max-width: 991px) { 
    /* start of large tablet styles */
    .img-container {
        background-image: url('./bgImage-large.jpg')
    }
    .img-container h1 {
        font-size: 96px;
    }
}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .img-container {
        background-image: url('./bgImage-medium.jpg')
    }
    .img-container h1 {
        font-size: 80px
    }
}

@media screen and (max-width: 479px) {
    /* start of phone styles */
    .img-container {
        background-image: url('./bgImage-small.jpg');
        opacity: 0.9;
    }
     .img-container h1 {
        font-size: 70px
    }

}