@import url(https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap);

body {
  margin: 0;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Muli', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    font-weight: 600
}

.bg-circle {
	background: 
		url(elipse1.svg) left 60px no-repeat,
		url(elipse2.svg) right 1300px no-repeat;
	/*margin-top: 50px;*/
	background-size: 60%; 
	z-index: 2
}

@media screen and (max-width: 991px) { 
	/* start of large tablet styles */
	.bg-circle {
		background: 
			url(elipse1.svg) left 60px no-repeat,
			url(elipse2.svg) right 900px no-repeat;
		background-size: 60%;
		z-index: 2
	}
}

@media screen and (max-width: 767px) {
	/* start of medium tablet styles */
	.bg-circle {
		background: 
			url(elipse1.svg) left 60px no-repeat,
			url(elipse2.svg) right 130% no-repeat;
		background-size: 75%;
		z-index: 2
	}
}

@media screen and (max-width: 479px) {
	/* start of phone styles */
	.bg-circle {
		background: 
			url(elipse1.svg) left 100px no-repeat,
			url(elipse2.svg) right 900px no-repeat;
		background-size: 75%;
		z-index: 2
	}
}